<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/layout.html :: headerfiles">
</head>
<body style="padding-bottom: 30px">
	<img th:src="@{/images/JAM_LOGO.png}" class="logo2">
	<nav class="navbar jamHeader3">

		<form class="navbar-form form-inline"
			th:action="@{/home/searchresults}" method="post">
			<div class="input-group searchBox">
				<input type="text" id="search" name="searchTerm"
					class="form-control" placeholder="Search in this shop">
				<button type="submit" value="Search" class="input-group-addon">
					<i class="material-icons">&#xE8B6;</i>
				</button>
			</div>
		</form>

		<a th:href="@{/home}" class="helpIcon btn"><i
			class="fa fa-question-circle"></i><span class="smallHelpText">Help</span></a>

		<button class="addShoppingCartIcon btn"
			onclick="location.href='/shoppingcart'">
			<i class="fa fa-cart-plus" style="font-size: 24px"></i><span
				class='badge badge-warning' id='lblCartCount' th:text="${count}"></span>
		</button>
		<a th:href="@{/home}" class="profileImageIconLink"><img
			class="profileImageIcon" th:src="${user.profileUrl}"
			alt="Artist Small Profile Photo" /> <span
			class="smallProfileNameText"
			th:text="${user.firstName} + ' ' + ${user.lastName}"></span> </a>
	</nav>

	<div align="center">
		&nbsp;
		<h1>Add Product</h1>
		<form action="#" th:object="${newProduct}" enctype="multipart/form-data" id="addProductForm"
			th:action="@{/artist/saveproduct}" method="post">
			<fieldset>
				<input type="hidden" th:field="*{productID}">
			</fieldset>
			&nbsp;
			<fieldset>
				Product Name: <input type="text" required th:field="*{productName}">
				<p th:if="${#fields.hasErrors('productName')}"
					th:errors="*{productName}" style="color: red"></p>
			</fieldset>
			&nbsp;
			<fieldset>
				Product Price: <input type="number" min="0" step="0.01" required
					th:field="*{productPrice}">
				<p th:if="${#fields.hasErrors('productPrice')}"
					th:errors="*{productPrice}" style="color: red"></p>
			</fieldset>
			&nbsp;
			<fieldset>
				Product Quantity: <input type="number" min="0" step="1" required
					th:field="*{productQty}">
				<p th:if="${#fields.hasErrors('productQty')}"
					th:errors="*{productQty}" style="color: red"></p>
			</fieldset>
			&nbsp;
			<fieldset>
				Product Category: <select required th:value="*{productCategory}" name="productCategory">
					<th:block>
						<option disabled selected value="">Select an option</option>
						<option th:each="category : ${categories}"
							th:value="${category.key}" th:text="${category.value}">
						</option>
					</th:block>
				</select>
			</fieldset>
			&nbsp;
			<fieldset>
				Product Description:
				<textarea required th:field="*{productDes}"></textarea>
				<p th:if="${#fields.hasErrors('productDes')}"
					th:errors="*{productDes}" style="color: red"></p>

			</fieldset>
			&nbsp;
			<fieldset>
			
				<p>
				Product Image:
					<input required type="file" accept="image/*" name="file" id="file"
						onchange="loadFile(event)">
				</p>
				<p>
					<img id="output" width="30%" />
				</p>
			</fieldset>
			&nbsp;
			<fieldset>
				<button type="submit">Save</button>
			</fieldset>
		</form>
	</div>

	<div class="footer">
		<p style="margin-top: 3px;">@2020-2021 Jam | Term 2</p>
	</div>

</body>

<script>
	var loadFile = function(event) {
		var image = document.getElementById('output');
		image.src = URL.createObjectURL(event.target.files[0]);
	};
	
	addProductForm.addEventListener('submit', (e) => {
		// Prevent if already submitting
		if (addProductForm.classList.contains('is-submitting')) {
			e.preventDefault();
		}
		
		// Add class to hook our visual indicator on
		addProductForm.classList.add('is-submitting');
	});
</script>
</html>