<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/layout.html :: headerfiles"> </head>

<body>
	<nav th:replace="Fragments/layout.html :: navbar"></nav>
	
	<!-- Artist Introduction Section -->
	
<div class="cartIntroSection">

 	 <img class="smallBanner" th:src="@{artist.profileUrl}" alt=""></img>
 	 
 	 <div class="aboutShopSection">
		<span  class="aboutShopHeader h6">  <i th:text="'Artist: ' + ${artistName}" ></i></span>
		<span  class="aboutShopFeature1" th:text="'Channel: ' + ${artistVideoChannelName}" ></span>
 	 	<span class="aboutShopFeature2" th:text="'Subscribers: ' + ${numberOfSubscribers}"></span> 
 	 	<span class="aboutShopFeature3" th:text="'Videos: ' + ${numberOfArtistVideos}"></span>
 	 	<span class="aboutShopFeature4">
 	 		<!--  If the customer already subscribed the artist, it shows "UNSUBSCRIBE"	--> 	
			<span th:if = "${subscribeStatus}" >
				<Button class ="userSubscribeBtn"><a th:href="@{/unsubscribenoajax}">UNSUBSCRIBE</a></Button>
			</span>
		
			<!--  Else if the customer haven't subscribed the artist, it shows "SUBSCRIBE" -->
			<span th:unless = "${subscribeStatus}" >
				<Button class ="userSubscribeBtn"> <a t th:href="@{/subscribenoajax}">SUBSCRIBE</a></Button>
			</span> 
 	 	</span>
 	 </div>
</div> 
 
	<div>
			<input type = "hidden" id="artistId"  th:value = "${artistId}">
	</div>
	
	&nbsp;&nbsp;
	<!-- Artist Video Gallery Section -->
	<div class="container">
	<div class="card-group justify-content-center">
	
		<div th:each="video: ${artistVideos}">
		<a th:href="@{/watchvideo}"><img class="card-img-top" th:src="@{/images/video1.jpg}" alt="Card image cap"></a>
			<div class="card-body">
	      		<div th:text="'Title: ' + ${video.title}"  class="card-title"></div>
	      		<span>Tag: </span>
	      		<span th:each = "tag: ${video.tagList}">
	 				<span class="smallVidAuthor" th:text="${' | ' + tag.tagName}"></span>
	 			</span>	
	      	</div>
	    </div> 
	ssas
	</div>
	</div>

	
</body>
</html>
