<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/layout.html :: headerfiles"> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <img th:src="@{/images/JAM_LOGO.png}" class="logo2" alt="JAM Logo">
 <nav class="navbar jamHeader3">
 
 	<form class="navbar-form form-inline" th:action="@{/home/searchresults}" method="post">
        <div class="input-group searchBox">
             <input type="text" id="search" name ="searchTerm" class="form-control" placeholder="Search in this shop">
             <button type="submit" value="Search" class="input-group-addon"><i class="material-icons">&#xE8B6;</i></button>
        </div>
    </form>

    <a th:href="@{/home}" class="helpIcon btn"><i class="fa fa-question-circle"></i><span class="smallHelpText">Help</span></a>
    
	<button class="addShoppingCartIcon btn" onclick="location.href='/shoppingcart'"><i class="fa fa-cart-plus"style="font-size:24px"></i><span class='badge badge-warning' id='lblCartCount' th:text="${count}"></span></button>
	
	<a th:href="@{/home}" class="profileImageIconLink"><img class="profileImageIcon" th:src="${profileUrl}" alt="Artist Small Profile Photo"/>
		<span class="smallProfileNameText" th:text="${artistName}"/>
	</a>	
 </nav>
 
 <div class="cartIntroSection">

 	 <img class="smallBanner" th:src="@{/images/samplebanner.jpg}" alt="Artist Profile Small Banner"></img>
 	 <img class="profileImageIcon2" th:src="${profileUrl}" alt="Artist Profile Photo"/><span class="mediumProfileNameText" th:text="${artistName}"/>
 	 <!--<span class="lastActiveText">Active 30 minutes ago</span>-->
 	 
 	 <div class="aboutShopSection">
 	 	<span class="aboutShopHeader h6">About Shop</span>
 	 	<span class="aboutShopFeature1"><i class="fa fa-heart heartIcon"></i>&nbsp;&nbsp;Welcome to my store!</span>
 	 	<span class="aboutShopFeature2"><i class="fa fa-bullhorn fa-flip-horizontal trumpetIcon "></i>&nbsp;&nbsp;The limited edition of my newest single is available! Get them now!</span>
 	 	<span class="aboutShopFeature3"><img class="bikiniIcon" th:src="@{/images/bikini.png}"/>&nbsp;&nbsp;Get your summer fashion needs from my clothing line.</span>
 	 	<span class="aboutShopFeature4"><span class="grinIcon">&#128522;</span>&nbsp;&nbsp;Enjoy shopping!</span>
 	 </div>
 </div>
 
 <!-- PRODUCTS ON SALE NAVBAR -->
    <section class="productsOnSaleSection">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md">
            <!-- Product Categories -->
            <nav class="navbar spaceEvenly">
              <!-- <a class="nav-link active blackFontText ml-5 h6" data-toggle="tab" href="#">Home</a> -->
              <a class="nav-link active blackFontText h6" data-toggle="tab" th:href="@{/carthometab/}+${artistId}">All Products</a>
              <a class="nav-link active blackFontText h6" data-toggle="tab" th:href="@{/carthometab/}+${artistId}+@{/MusicCollection}">Music Collection</a>
              <a class="nav-link active blackFontText h6" data-toggle="tab" th:href="@{/carthometab/}+${artistId}+@{/Merchandise}">Merchandise</a>
              <a class="nav-link active blackFontText h6" data-toggle="tab" th:href="@{/carthometab/}+${artistId}+@{/Clothing}">Clothing</a>
              
            </nav>
          	</div>
          </div>
        </div>
  	</section>
<!-- SELLING CONTENT -->
    <section class="productsContentSection">
      <div class="container">
        <div class="row col-lg-11 mx-auto">
	       <div style="margin-bottom: 18px;">
					<section class="productsFilter">
						<div class="container">
							<div class="row align-items-center">
								<div class="col-12 col-md">
									<!-- Product Categories -->
									<nav class="navbar spaceLeft py-0">
										<a class="nav-link blackFontText ml-5 sortLabel"
											data-toggle="tab" href="#">Sort by:</a> <a
											class="nav-link blackFontText popularSort" data-toggle="tab"
											th:href="@{/carthometab/}+${artistId}+${status}">Popular</a> <a
											class="nav-link blackFontText latestSort" data-toggle="tab"
											href="#">Latest</a> <a
											class="nav-link blackFontText salesSort" data-toggle="tab"
											href="#">Top Sales</a>

										<div class="dropdown">
											<a class="nav-link blackFontText dropdown-toggle priceSort"
												href="#" id="navbarDropdown" role="button"
												data-bs-toggle="dropdown" aria-haspopup="true"
												aria-expanded="false"> Price </a>
											<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
												<li><a class="dropdown-item" href="#">Highest Price</a></li>
												<li><a class="dropdown-item" href="#">Lowest Price</a></li>
												<li><a class="dropdown-item" href="#">Promotions</a></li>
											</ul>
										</div>
									</nav>
								</div>
							</div>
						</div>
					</section>
				</div>
			
			
          <div class="col-6 col-md-3 col-lg-3 mb-5" th:each="product: ${productList}">
            <!-- Card -->
            <div class="card mb-1 h-100">

              <!-- Image -->
              <!-- <a th:href="@{/product/details/}+${product.productID}">
                <img th:src="${product.productUrl}" alt="..." class="card-img-top productPhotoSize">
              </a> -->
              
              <a th:onclick="'javascript:GetById(' + ${product.productID} + ')'">
                <img th:src="${product.productUrl}" alt="..." class="card-img-top productPhotoSize">
              </a>
              
              <!-- <th:block th:replace="_modals :: modal('exampleModal')">modal</th:block> -->

              <!-- Collapse -->
              <div class="card-collapse-parent">

                <!-- Body -->
                <div class="card-body px-0 bg-white">

                  <!-- Heading -->
                  <div class="mb-1 productHeading h6">
                    <a th:text="${product.productName}"></a>
                  </div>
                  
                  <!-- Quantity Sold -->
                  <div class="quantitySold" th:text="${product.productQty}">
                  </div>

				 <!-- Country Of Origin -->
				 <!-- <div class="productCountryOrigin">
				 	Singapore
				 </div> -->

                  <!-- Price -->
                  <div class="mb-1 productPrice h6" th:text="${product.productPrice}">
                  </div>
                  
                  <!-- Like Button Heart Shape -->
				  <!-- <label for="heartLikeButton">
				    <i class="far fa-heart likeIcon" aria-hidden="true"></i>
				  </label>
				  <input id="heartLikeButton" type="button" /> -->
				  <br>
				  <!-- <div class="btn-ground text-center">
                    <button type="button" class="btn btn-primary" th:onclick="'javascript:myFunction(' + ${product.productID} + ')'"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
                    <button type="button" class="btn btn-primary" th:onclick="'javascript:GetById(' + ${product.productID} + ')'"><i class="fa fa-search"></i> Quick View</button>
                </div> -->
				  
                </div>
              </div>
            </div>

          </div>
          
          </div>
        </div>
    </section>
    
    <!-- <div class="modal" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">  
            <div class="modal-dialog">  
                <div class="modal-content">  
                    <div class="modal-header"> <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>  
                        <h4 class="modal-title" id="myModalLabel">Applicant Details</h4>  
                    </div>  
                    <div class="modal-body">  
                        <table class="table table-striped">  
                            <tr>  
                                <td>  
                                   <a id="lblName">Name</a>
                                </td>  
                            </tr>  
                            <tr>  
                                <td>  
                                    <a id ="lblDescription">Name</a>
                                </td>  
                            </tr>  
                            <tr>  
                                <td>  
                                    <a id ="lblPrice">Name</a>  
                                </td>  
                            </tr>  
                        </table>  
                    </div>  
                </div>  
            </div>  
        </div>  --> 
        
        <div class="modal fade" id="cartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title" id="exampleModalLabel">
          Product Details
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table class="table table-image">
          <tbody>
            <tr>
              <td class="w-50">
                <img id="myImage"src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/vans.png" class="img-fluid img-thumbnail" alt="Sheep">
              </td>
              <td>
              
              <label class="mb-4" id="lblName">Vans Sk8-Hi MTE Shoes</label><br><br><br>
              
              <label id="lblDescription">Vans Sk8-Hi MTE Shoes</label><br><br><br>
              
              <label id="lblPrice">Vans Sk8-Hi MTE Shoes</label><br><br><br>
              
              <!-- <input type="text" class="form-control" id="input1" value="2"> -->
              </td>
            </tr>
          </tbody>
        </table>
        <div class="d-flex justify-content-end">
        	<div id="divProductId" style="display: none;"></div>
          <button type="button" class="btn btn-primary" th:onclick="'javascript:myFunction()'"><i class="fa fa-shopping-cart"></i> Add To Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <p style="margin-top: 3px;">@2020-2021 Jam | Term 2</p>
</div>
<div id="divArtistId" th:text="${artistId}" style="display: none;">
</div>
</body>
<script>

function GetById(productID) {  
    if (productID == "") {  
        alert("Please Enter Id");  
    } else {  
        var myModal = $('#myModal');  
        $.ajax({  
            type: "POST",  
            url: "/product/details",  
            data:{
	        	productId :productID
	        },
            contentType:'application/x-www-form-urlencoded; charset=UTF-8',
			success: function(response){
	        	//alert(response);
	        	var jason =jQuery.parseJSON(response);
	        	var Name = jason.Name; 
	        	var Description = jason.Description;
	        	var Price = jason.Price;
	        	var Url = jason.Url;
                $('#lblName').html('Product Name' + Name);  
                $('#lblDescription').html('Description : ' + Description);  
                $('#lblPrice').html('Price : $' + Price); 
                $('#divProductId').html(productID);
                $("#myImage").attr('src',Url);
                $('#cartModal').modal('show');  
	        	
	        },
            error:function(xmlHttpRequest, textStatus, errorThrown){
	        	console.log("error"+ errorThrown);
	            alert("error");
	        } 
        });  
    }  
    return false;  
}  

function myFunction() {
		var productID = $("#divProductId").html();
		//alert(productID);
	  $.ajax({
	        type: 'POST',
	        url: "/addToCart",
	        contentType:'application/x-www-form-urlencoded; charset=UTF-8',
	        data:{
	        	productId :productID
	        },
	        success: function(response){
	        	
	        	$("#lblCartCount").text(response);
	        	$('#cartModal').modal('hide');
	        	
	        },
	        error:function(xmlHttpRequest, textStatus, errorThrown){
	        	console.log("error"+ errorThrown);
	            alert("error");
	        } 
	    });
	  
	  
	}
</script> 
</html>
