<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/layout.html :: headerfiles"> 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
</head>
<body>
  <img th:src="@{/images/JAM_LOGO.png}" class="logo2" alt="JAM Logo">
 <nav class="navbar jamHeader3">
 
 	<form class="navbar-form form-inline" th:action="@{/home/searchresults}" method="post">
        <div class="input-group searchBox">
             <input type="text" id="search" name ="searchTerm" class="form-control" placeholder="Search in this shop">
             <button type="submit" value="Search" class="input-group-addon"><i class="material-icons">&#xE8B6;</i></button>
        </div>
    </form>

    <a th:href="@{/home}" class="helpIcon btn"><i class="fa fa-question-circle"></i><span class="smallHelpText">Help</span></a>
    
	<button class="addShoppingCartIcon btn" onclick="location.href='/shoppingcart'"><i class="fa fa-cart-plus"></i></button>
	<!-- <span class='badge' id='cartQuantity'> 50 </span> -->
	
	<a th:href="@{/home}" class="profileImageIconLink"><img class="profileImageIcon" th:src="${profileUrl}" alt="Artist Small Profile Photo"/>
		<span class="smallProfileNameText" th:text="${artistName}"/>
	</a>	
 </nav>
 
 <div class="cartIntroSection">

 	 <img class="smallBanner" th:src="@{/images/samplebanner.jpg}" alt="Artist Profile Small Banner"></img>
 	 <img class="profileImageIcon2" th:src="${profileUrl}" alt="Artist Profile Photo"/><span class="mediumProfileNameText" th:text="${artistName}"/>
 	 <!--<span class="lastActiveText">Active 30 minutes ago</span>-->
 	 
 	 <div class="aboutShopSection">
 	 	<span class="aboutShopHeader h6">About Shop</span>
 	 	<span class="aboutShopFeature1"><i class="fa fa-heart heartIcon"></i>&nbsp;&nbsp;Welcome to my store!</span>
 	 	<span class="aboutShopFeature2"><i class="fa fa-bullhorn fa-flip-horizontal trumpetIcon "></i>&nbsp;&nbsp;The limited edition of my newest single is available! Get them now!</span>
 	 	<span class="aboutShopFeature3"><img class="bikiniIcon" th:src="@{/images/bikini.png}"/>&nbsp;&nbsp;Get your summer fashion needs from my clothing line.</span>
 	 	<span class="aboutShopFeature4"><span class="grinIcon">&#128522;</span>&nbsp;&nbsp;Enjoy shopping!</span>
 	 </div>
 </div>
 
 <!-- PRODUCTS ON SALE NAVBAR -->
    <section class="productsOnSaleSection">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md">
            <!-- Product Categories -->
            <nav class="navbar spaceEvenly">
              <a class="nav-link active blackFontText ml-5 h6" data-toggle="tab" href="#">Home</a>
              <a class="nav-link active blackFontText h6" data-toggle="tab" th:href="@{/carthometab/}+${artistId}">All Products</a>
              <a class="nav-link active blackFontText h6" data-toggle="tab" th:href="@{/carthometab/}+${artistId}+@{/MusicCollection}">Music Collection</a>
              <a class="nav-link active blackFontText h6" data-toggle="tab" th:href="@{/carthometab/}+${artistId}+@{/Merchandise}">Merchandise</a>
              <a class="nav-link active blackFontText h6" data-toggle="tab" th:href="@{/carthometab/}+${artistId}+@{/Clothing}">Clothing</a>
              
   			  <!-- <span style="color:#E56A6A; font-size: 1.4vw; margin-bottom: 10px;">|</span>
              
              <div class="dropdown">
			        <a class="nav-link active blackFontText dropdown-toggle h6" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			          More
			        </a>
			        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
				         <li><a class="dropdown-item" href="#">Most Popular</a></li>
				          <li><a class="dropdown-item" href="#">Highest Price</a></li>
				          <li><a class="dropdown-item" href="#">Lowest Price</a></li>
			        </ul>
			  </div> -->
            </nav>
          	</div>
          </div>
        </div>
  	</section>
<!-- SELLING CONTENT -->
    <section class="productsContentSection">
      <div class="container">
        <div class="row col-lg-11 mx-auto">
	        <div style="margin-bottom: 18px;" th:if="${status =='home'}">
				<span class="pt-0 mt-0 pb-2 trendingText">Trending</span>
				<a th:onclick="myFunction();" class="seeAllProductsLink">See all ></a>
			</div>
			
			
          <div class="col-6 col-md-3 col-lg-3 mb-5" th:each="product: ${productList}">
            <!-- Card -->
            <div class="card mb-1 h-100">

              <!-- Image -->
              <!-- <a th:href="@{/product/details/}+${product.productID}">
                <img th:src="${product.productUrl}" alt="..." class="card-img-top productPhotoSize">
              </a> -->
              
              <a>
                <img th:src="${product.productUrl}" alt="..." class="card-img-top productPhotoSize">
              </a>
              
              <!-- <th:block th:replace="_modals :: modal('exampleModal')">modal</th:block> -->

              <!-- Collapse -->
              <div class="card-collapse-parent">

                <!-- Body -->
                <div class="card-body px-0 bg-white">

                  <!-- Heading -->
                  <div class="mb-1 productHeading h6">
                    <a th:text="${product.productName}"></a>
                  </div>
                  
                  <!-- Quantity Sold -->
                  <div class="quantitySold" th:text="${product.productQty}">
                  </div>

				 <!-- Country Of Origin -->
				 <div class="productCountryOrigin">
				 	Singapore
				 </div>

                  <!-- Price -->
                  <div class="mb-1 productPrice h6" th:text="${product.productPrice}">
                  </div>
                  
                  <!-- Like Button Heart Shape -->
				  <label for="heartLikeButton">
				    <i class="far fa-heart likeIcon" aria-hidden="true"></i>
				  </label>
				  <input id="heartLikeButton" type="button" />
				  
                </div>
              </div>
            </div>

          </div>
          
          </div>
        </div>
    </section>
<div class="footer">
  <p style="margin-top: 3px;">@2020-2021 Jam | Term 2</p>
</div>
<div id="divArtistId" th:text="${artistId}" style="display: none;">
</div>
</body>
<script>
function myFunction() {
	  var artistId = $('#divArtistId').text();
	  alert(artistId);
	  //document.getElementById("demo").innerHTML = "You selected: " + x;
	  $.ajax({
	        type: 'POST',
	        url: "/getAllProduct",
	        contentType:'application/x-www-form-urlencoded; charset=UTF-8',
	        data:{
	        	artistId :artistId
	        },
	        success: function(response){
	        	//console.log(response);
	        	//$('#courseId').empty();
	        	var jason =$.parseJSON(response);
	        	console.log(jason)
	        	/* $.each(jason, function(key, value) {
  					var $option = $("<option/>", {
    					value: key,
    					text: key + ' | '+value
  						});
  					$('#courseId').append($option);
				}); */
	        	/* for(var i in jason){
	        		console.log(jason[i]);
	        		//$('#courseId').append('<option th:value="'+jason[i] +'">'+ jason[i] +'</option>')
	        		
	        	} */
	        	
	        },
	        error:function(xmlHttpRequest, textStatus, errorThrown){
	        	console.log("error"+ errorThrown);
	            alert("error");
	        } 
	    });
	  
	  
	}
</script> 
</html>