<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/layout.html :: headerfiles"> 
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Home page</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  
</head>
<!-- <head>
<meta charset="ISO-8859-1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" /> 
Optional theme
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
</head>  -->
<body>
	<div th:replace="Fragments/layout.html :: navbar">
	</div>
	<div class="container">
		<h2 align="center">Dashboard</h2>
		<div id="container1" style="width: 550px; height: 400px; margin-top: 100px;  margin-bottom: 100px;  margin-right: 150px;  margin-left: 80px;"></div>
		<p>chart2</p>
		<div id="container2" style="width: 550px; height: 400px; margin-top: 100px;  margin-bottom: 100px;  margin-right: 250px;  margin-left: 80px;"></div>
		<div id="container3" style="width: 550px; height: 400px; margin-top: 100px;  margin-bottom: 150px;  margin-right: 250px;  margin-left: 80px;"></div>
		<div id="container4" style="width: 550px; height: 400px; margin-bottom: 150px;  margin-right: 250px;  margin-left: 80px;"></div>
		<div id="container5" style="width: 550px; height: 400px; margin-bottom: 150px;  margin-right: 250px;  margin-left: 80px;" ></div>
		<div id="container6" style="width: 550px; height: 400px; margin: 10px" ></div>
	
	</div>
	
	
<!-- 	<script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://code.highcharts.com/highcharts-3d.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script th:inline="javascript"> 
    $(function(){
    	var video=[[${videos}]];
    	var videocounts=[[${videocounts}]];
     Highcharts.chart('container1', {
    	 
        chart: {
            type: 'column',
            options3d: {
                enabled: true,
                alpha: 15,
                beta: 15,
                depth: 50,
                viewDistance: 25
            }
        },
        title: {
            text: 'View Counts of Different Videos'
        },
        subtitle: {
            text: 'Details'
        },
        xAxis: {
            categories: video,
            crosshair: true,
            title: {
                text: 'Video Name'
            }
        },
        yAxis: {
            title: {
                text: 'Number of Times'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y} times </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Times of User Watching',
            data: videocounts
        }]
      });
    }); 
    
    $(function(){
    	var music=[[${musics}]];
    	var musiccounts=[[${musiccounts}]];
    	
    Highcharts.chart('container2', {
        chart: {
            type: 'column'
        },
        title: {
            text: 'View Counts of Different Musics'
        },
        subtitle: {
            text: 'Details'
        },
        xAxis: {
            categories:music ,
            crosshair: true,
            title: {
                text: 'Music Name'
            }
        },
        yAxis: {
            title: {
                text: 'Number of Times'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
            '<td style="padding:0"><b>{point.y} times </b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        credits: {
            enabled: false
        },
        series: [{
            name: 'Times of User Listening',
            data: musiccounts
        }]
      });
    }); 
  
    
    
    $(function(){
    	/*var date=[[${date}]];*/
    	var videodata=[[${videodata}]];
    	var musicdata=[[${musicdata}]];
    	var videodatalastyear=[[${videodatalastyear}]];
    	var musicdatalastyear=[[${musicdatalastyear}]];
      Highcharts.chart('container3', {
    	  chart: {
              type: 'spline'
          },
    	
        title: {
            text: 'View Counts of Media  VS  Time '
        },

        subtitle: {
            text: 'details'
        },

        xAxis: {
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
        	       
          title: {
                    text: 'Date'
                }
        }, 
        
        series: [{
            name: 'Count of Watching Video-ThisYear',
            data: videodata,
            
        }, 
        {
            name: 'Count of Watching Video-LastYear',
            data: videodatalastyear
            
        },
        {
            name: 'Count of Listening  Music-ThisYear',
            data: musicdata,
        
        },
        {
            name: 'Count of Listening Video-LastYear',
            data: musicdatalastyear
            
        }
      
        ],
        
        credits: {
            enabled: false
        },

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
    });

   
    $(function(){
    	var date=[[${datetime}]];
    	var changes=[[${changes}]];
    	var total=[[${total}]]
      Highcharts.chart('container4', {
    	  chart: {
              type: 'spline'
          },
    	
        title: {
            text: 'Subscribers Chart'
        },

        subtitle: {
            text: 'Change with time series'
        },
        
        yAxis: {
            title: {
                text: 'Number of Subscribers '
            }
        },

        xAxis: {
          categories:date,
        	       
          title: {
                    text: 'Date'
                }
        }, 
        
        series: [{
            name:'Total of Subscribers' ,
            data: total
            
        }, 
         {
            name: 'Changes of Subscribers',
            data:changes,
            dashStyle: 'Dash'
            
        } 
      
        ],
        
        credits: {
            enabled: false
        },

        responsive: {
            rules: [{
                condition: {
                    maxWidth: 500
                },
                chartOptions: {
                    legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                    }
                }
            }]
        }
    });
    });

    
    
    
    $(function(){
    Highcharts.chart('container5', {
		chart : {
			type : 'pie',
			options3d : {
				enabled : true,
				alpha : 50,
				beta : 0
			}
		},
		title : {
			text : 'Percentage of Artist Product, Video, Music '
		},
		tooltip : {
			pointFormat : '<b>Number:{point.y} </b><br>TotalNumber: {point.total}'
		},
		plotOptions : {
			pie : {
				allowPointSelect : true,
				cursor : 'pointer',
				depth : 35,
				dataLabels : {
					enabled : true,
					format : '{point.name}: <br>{point.percentage:.1f} %'
				}
			}
		},
		credits: {
	            enabled: false
	        },
		series : [ {
			type : 'pie',
			name : 'Ratio of Media',
			data : [ [ 'Video', [[${videosnumber}]] ], [ 'Music', [[${musicsnumber}]] ], ['Product',[[${productnumber}]]]  ]
		} ]
	});
    }); 
    
    $(function(){
        Highcharts.chart('container6', {
    		chart : {
    			type : 'pie',
    			options3d : {
    				enabled : true,
    				alpha : 50,
    				beta : 0
    			}
    		},
    		title : {
    			text : 'Percentage Total Counts of Different Media'
    		},
    		tooltip : {
    			pointFormat : '<b>Number:{point.y} </b><br>TotalMeida: {point.total}'
    		},
    		plotOptions : {
    			pie : {
    				allowPointSelect : true,
    				cursor : 'pointer',
    				depth : 35,
    				dataLabels : {
    					enabled : true,
    					format : '{point.name}: <br>{point.percentage:.1f} %'
    				}
    			}
    		},
    		credits: {
    	            enabled: false
    	        },
    		series : [ {
    			type : 'pie',
    			name : 'Ratio ',
    			data : [ [ 'Video', [[${totalvideoscount}]] ], [ 'Music', [[${totalmusicscount}]] ]  ]
    		} ]
    	});
        });

   

    
   
</script>

</body>
</html>
