<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/layout.html :: headerfiles"> </head>
<body>
<!-- <nav class="navbar jamHeaderUser">
 	<img th:src="@{/images/JAM_LOGO.png}" class="logo3">
 	<form class="navbar-form form-inline" th:action="@{/home/searchresults}" method="post">
        <div class="input-group userPageSearchBox">
             <input type="text" id="search" name ="searchTerm" class="form-control" placeholder="Search">   
        </div>
        <button type="submit" value="Search" class="userPageSearchButton"><i class="material-icons">&#xE8B6;</i></button>
    </form>	
    <img th:src="@{/images/brucelee.PNG}" class="userPageProfilePhoto" alt="User's Profile Photo">
</nav> -->

<!-- <div class="card-deck">
  <div class="card">
    <img class="card-img-top" src="@{/images/cutepokemon.jpg}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="@{/images/cutepokemon.jpg}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card">
    <img class="card-img-top" src="@{/images/cutepokemon.jpg}" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
 -->

 <section class="productsContentSection">
      <div class="container">
        <div class="row col-lg-11 mx-auto">
	       <!--  <div style="margin-bottom: 18px;" th:if="${status =='home'}">
				<span class="pt-0 mt-0 pb-2 trendingText">Trending</span>
				<a th:onclick="myFunction();" class="seeAllProductsLink">See all ></a>
			</div>
			 -->
			
          <div class="col-6 col-md-3 col-lg-3 mb-5" th:each="product: ${productList}">
            <!-- Card -->
            <div class="card mb-1 h-100">

              <!-- Image -->
              <!-- <a th:href="@{/product/details/}+${product.productID}">
                <img th:src="${product.productUrl}" alt="..." class="card-img-top productPhotoSize">
              </a> -->
              
              <a data-toggle="modal" data-target="#exampleModal">
                <img th:src="${product.productUrl}" alt="..." class="card-img-top productPhotoSize">
              </a>
              
              <th:block th:replace="_modals :: modal('exampleModal')">modal</th:block>

              <!-- Collapse -->
              <div class="card-collapse-parent">

                <!-- Body -->
                <div class="card-body px-0 bg-white">

                  <!-- Heading -->
                  <div class="mb-1 productHeading h6">
                    <a th:text="${product.productName}"></a>
                  </div>
                  
                  <!-- Quantity Sold -->
                  <div class="quantitySold" th:text="${product.productQty}">
                  </div>

				 <!-- Country Of Origin -->
				 <div class="productCountryOrigin">
				 	Singapore
				 </div>

                  <!-- Price -->
                  <div class="mb-1 productPrice h6" th:text="${product.productPrice}">
                  </div>
                  
                  <!-- Like Button Heart Shape -->
				  <label for="heartLikeButton">
				    <i class="far fa-heart likeIcon" aria-hidden="true"></i>
				  </label>
				  <input id="heartLikeButton" type="button" />
				  
                </div>
              </div>
            </div>

          </div>
          
          </div>
        </div>
    </section>
    
 <section  class="productsContentSection">
    <div class="container">
      
	        <div style="margin-bottom: 18px;">
				<span class="pt-0 mt-0 pb-2 trendingText">Most popular videos</span>
			</div>
			<div class="col-6 col-md-3 col-lg-3 mb-5">
			
			<a th:href="@{/home}" class="sideVideoLinkColor">
			<img th:src="@{/images/bruceleethumbnail.jpg}" class="card-img-top productPhotoSize" alt="...">
			<div th:text="${'Title: ' + videoTitle1}" class="mb-1 productHeading h6"></div>
			<div th:text="${'Tag: ' + viddescription}" class="mb-1 productHeading h6"></div>
			</a>
			<a th:href="@{/watchvideo}" class="sideVideoLinkColor">
	 		<div th:text="${'Author: ' + vidauthor}" class="mb-1 productHeading h6" ></div>
	 		<div th:text="${videoDuration1}"  ></div>
	 		</a>
	 		
	 		
	 		<a th:href="@{/home}" class="sideVideoLinkColor">
	 		<img th:src="@{/images/cutepokemon.jpg}" class="card-img-top productPhotoSize" alt="...">
			<div th:text="${'Title: ' + videoTitle2}" class="mb-1 productHeading h6"></div>
			<div th:text="${'Tag: ' + viddescription}" class="mb-1 productHeading h6"></div>
			</a>
			<a th:href="@{/watchvideo}" class="sideVideoLinkColor">
	 		<div th:text="${'Author: ' + vidauthor}" class="mb-1 productHeading h6" ></div>
	 		<div th:text="${videoDuration3}"></div>
	 		</a>
			
			<a th:href="@{/home}" class="sideVideoLinkColor">
	 		<img th:src="@{/images/samplebanner.jpg}"  class="card-img-top productPhotoSize" alt="...">
			<div th:text="${'Title: ' + videoTitle2}" class="mb-1 productHeading h6"></div>
			<div th:text="${'Tag: ' + viddescription}" class="mb-1 productHeading h6"></div>
			</a>
			<a th:href="@{/watchvideo}" class="sideVideoLinkColor">
	 		<div th:text="${'Author: ' + vidauthor}" class="mb-1 productHeading h6" ></div>
	 		<div th:text="${videoDuration3}"></div>
	 		
		</div>
	</div>
</section> 
</body>
</html>




 <div class="footer">
  <p style="margin-top: 3px;">@2020-2021 Jam | Term 2</p>
</div> 

</body>   
</html> -->