<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="Fragments/layout.html :: headerfiles"> </head>

<body>

	<!-- Artist Intro Section -->
 	<div class="userPageArtistIntroSection">
 		
 		<form name="artistForm" id="artistForm" method="post" >
 		
 		<span  th:text="'ArtistId: ' + ${artistId}" ></span>
 		<input type = "hidden" id="artistId"  th:value = "${artistId}">
 		
		<span id="ArtistName" th:text="'ArtistName: ' + ${artistName}"></span>
		
		<!--  If the customer already subscribed the artist, it shows "UNSUBSCRIBE"	--> 	
		<span th:if = "${subscribeStatus}" >
			<button class="sbutton" type= "button" id="zqButton" >UNSUBSCRIBE</button>
		</span>
		
		
		<!--  Else if the customer haven't subscribed the artist, it shows "SUBSCRIBE" -->
		<span th:unless = "${subscribeStatus}" >
			<button class="sbutton" type= "button" id="zqButton" >SUBSCRIBE</button>
		</span> 
		
		
		</form>	
	</div>
	
	
<script>


	
</script>
	
</body>
</html>
