<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="headerfiles">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<title>Insert title here</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" 
rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" th:href="@{/css/styles.css}" />
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script
  src="https://code.jquery.com/jquery-3.6.0.js"
  integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
  crossorigin="anonymous"></script>
</head>

<body> 

<div th:fragment = "navbar">

	<div class="header">
		<div class="header_left">
			<img th:src="@{/images/JAM_LOGO.png}" class="" alt="JAM Logo"/>
			<div class="header_input">
				<span class="material-icons"> search </span>
				<input type="text" placeholder="search JAM"/>
			</div>
		</div>
		
		<div class="header_middle">
			<div class="header_option active">
				<span class="material-icons"> home </span>
			</div>
			
			<div class="header_option">
				<span class="material-icons"> groups </span>
			</div>
			
			<div class="header_option">
				<span class="material-icons"> videocam </span>
			</div>
			
			<div class="header_option">
				<span class="material-icons"> music_note </span>
			</div>
			
			<div class="header_option">
				<span class="material-icons"> shopping_bag </span>
			</div>
		
		</div>
		
		<div class="header_right">
			<div class="header_info">
				<img th:src="@{/images/brucelee.png}" class="" alt="profileIcon"/>
				<h5>User</h5>
			</div>
			<span class="material-icons"> notifications</span>
			<span class="material-icons"> expand_more</span>
		</div>
	
	</div>
</div>

</body>
</html>